 {% extends 'temp1.html' %}

{% block content %}

    <div id="logreg-forms">
        <form class="form-signin" action="{%  url 'passvalidate'%}" method="POST">
                {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Validation </h1>

            <input type="text" id="inputEmail" class="form-control" name="username"  placeholder="User name" required="" autofocus="" autocomplete="off">
            <input type="password" id="inputPassword" class="form-control"  name="password" placeholder="Password" required="" autocomplete="off">


            <button   class="btn btn-success btn-block"  type="submit"><i class="fas fa-sign-in-alt"></i> Check</button>
<br>
            <a href="{%  url 'index'%}" class="btn btn-sucess btn-block">Back</a>


            </form>
          </div>



          <p style="text-align:center">
              <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
          e.preventDefault();
          $('#logreg-forms .form-signin').toggle() // display:block or none
          $('#logreg-forms .form-reset').toggle() // display:block or none
        }

        function toggleSignUp(e){
          e.preventDefault();
          $('#logreg-forms .form-signin').toggle(); // display:block or none
          $('#logreg-forms .form-signup').toggle(); // display:block or none
        }

        $(()=>{
          // Login Register Form
          $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
          $('#logreg-forms #cancel_reset').click(toggleResetPswd);
          $('#logreg-forms #btn-signup').click(toggleSignUp);
          $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })g" target="_blank" style="color:black"></a>
          </p>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript">
        function toggleResetPswd(e){
          e.preventDefault();
          $('#logreg-forms .form-signin').toggle() // display:block or none
          $('#logreg-forms .form-reset').toggle() // display:block or none
        }

        function toggleSignUp(e){
          e.preventDefault();
          $('#logreg-forms .form-signin').toggle(); // display:block or none
          $('#logreg-forms .form-signup').toggle(); // display:block or none
        }

        $(()=>{
          // Login Register Form
          $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
          $('#logreg-forms #cancel_reset').click(toggleResetPswd);
          $('#logreg-forms #btn-signup').click(toggleSignUp);
          $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })
        </script>
{% endblock %}
