{% load static %}



<html lang="en">
<head>
  <title>AUTHix</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">AUTHix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'myupdate'%}">Update my Profile</a>
      </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">Expected Visitor</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{%  url 'expected'%}">Add</a>
        <a class="dropdown-item" href="{%  url 'myexpected'%}">View</a>
      </div>
    </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">Friends List</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{%  url 'friend'%}">Add</a>
          <a class="dropdown-item" href="{%  url 'myfriend'%}">View</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{%  url 'request_status'%}">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'logout'%}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="container" align="center">

  {% block content %}
 {% endblock %}


</div>

</body>
</html>
