{% extends 'temp1.html' %}

{% block content %}
    <div id="logreg-forms">
        <form class="form-signin" action="{%  url 'verify_otp'%}" method="POST">
                {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">OTP Validation </h1>

            <input type="text" id="inputEmail" class="form-control" name="username"  placeholder="name" required="" autofocus="" autocomplete="off">
            <input type="text" id="inputPassword" class="form-control"  name="password" placeholder="OTP" required="" autocomplete="off">
            <button   class="btn btn-success btn-block"  type="submit"><i class="fas fa-sign-in-alt"></i> Verify</button>
            <br>
            <a href="{%  url 'index'%}" class="btn btn-sucess btn-block">Back</a>

            </form>
          </div>




{% endblock %}
